In [1]:
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random
import datetime
from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [2]:
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [3]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [4]:
## Merging by concat to not lose dtypes
def merge_by_concat(df1, df2, merge_on):
    merged_gf = df1[merge_on]
    merged_gf = merged_gf.merge(df2, on=merge_on, how='left')
    new_columns = [col for col in list(merged_gf) if col not in merge_on]
    df1 = pd.concat([df1, merged_gf[new_columns]], axis=1)
    return df1

In [5]:
TARGET = 'sales'         # Our main target
END_TRAIN = 1913         # Last day in train set
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [6]:
print('Load Main Data')
# Here are reafing all our data 
# without any limitations and dtype modification
train_df = pd.read_csv('sales_train_validation.csv')
prices_df = pd.read_csv('sell_prices.csv')
calendar_df = pd.read_csv('calendar.csv')

Load Main Data

In [8]:
# use cluster to remove some obs
cluster=pd.read_csv('cluster4.csv')

In [9]:
cluster.head()

,cluster,item_id,0,7,14,21,28,35,42,49,...,1848,1855,1862,1869,1876,1883,1890,1897,1904,1911
0,0,FOODS_1_056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.088989,0.000000,0.000000,0.000000,0.415283
1,0,FOODS_1_057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.073110,0.000000,0.000000,0.170590
2,0,FOODS_1_060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.894976,2.977689,3.225830,4.052966,3.804825,3.473971,2.812262,2.812262,1.654272,1.543987
3,0,FOODS_1_111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.232679,2.611010,5.222020,3.854348,3.730014,3.357013,3.978682,2.611010,3.481347,2.030786
4,0,FOODS_1_122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.593336,2.748936,4.771738,3.682537,4.875471,4.771738,3.682537,5.082938,3.578803,4.477826

In [10]:
cluster=cluster[['cluster', 'item_id']]

In [11]:
cluster['cluster'].value_counts()

1    1724
2     557
3     419
0     349
Name: cluster, dtype: int64

In [12]:
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [13]:
train_df=train_df.merge(cluster, on='item_id', how='left')

In [14]:
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913,cluster
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,0,1,1,1,3,0,1,1,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2,1,1,1,0,1,1,1,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,5,4,1,0,1,3,7,2,1
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,1,1,2,2,2,4,1

In [25]:
train_df['cluster'].value_counts()

NameError: name 'train_df' is not defined

In [17]:
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id','cluster']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

# If we look on train_df we see that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in ['id','item_id','dept_id','cat_id','store_id','state_id']:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Create Grid
Train rows: 30490 58327370
    Original grid_df:   4.0GiB
     Reduced grid_df:   1.8GiB

In [18]:
grid_df.head() #1-1913:train

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2,d_1,0.0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,2,d_1,0.0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0

In [19]:
grid_df.tail() #1914-1941:test

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales
59181085,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN
59181086,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN
59181087,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN
59181088,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,2,d_1941,NaN
59181089,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,d_1941,NaN

In [20]:
grid_df.shape

(59181090, 9)

In [21]:
grid_df['day']=grid_df['d'].apply(lambda x:int(x.split('_')[1]))

In [22]:
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2,d_1,0.0,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,2,d_1,0.0,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0,1
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0,1

In [23]:
grid_df.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
59181085,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
59181086,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
59181087,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
59181088,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,2,d_1941,NaN,1941
59181089,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,d_1941,NaN,1941

In [24]:
grid_df.dtypes

id          category
item_id     category
dept_id     category
cat_id      category
store_id    category
state_id    category
cluster        int64
d             object
sales        float64
day            int64
dtype: object

In [263]:
# remove cluster leading zero or few obs

In [26]:
grid_df['cluster'].value_counts()

1    33462840
2    10811370
3     8132790
0     6774090
Name: cluster, dtype: int64

In [27]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==2)&(grid_df['day']<=500)].index)

In [28]:
grid_df.shape

(56396090, 10)

In [29]:
59181090-56396090

2785000

In [30]:
grid_df[grid_df['cluster']==2].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
15245000,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2,d_501,0.0,501
15245002,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,2,d_501,0.0,501
15245017,HOBBIES_1_018_CA_1_validation,HOBBIES_1_018,HOBBIES_1,HOBBIES,CA_1,CA,2,d_501,2.0,501
15245018,HOBBIES_1_019_CA_1_validation,HOBBIES_1_019,HOBBIES_1,HOBBIES,CA_1,CA,2,d_501,0.0,501
15245025,HOBBIES_1_026_CA_1_validation,HOBBIES_1_026,HOBBIES_1,HOBBIES,CA_1,CA,2,d_501,0.0,501

In [31]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==3)&(grid_df['day']<=250)].index)

In [32]:
grid_df.shape

(55348590, 10)

In [34]:
56396090-55348590

1047500

In [33]:
grid_df[grid_df['cluster']==3].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
7622505,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,3,d_251,0.0,251
7622506,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,3,d_251,0.0,251
7622510,HOBBIES_1_011_CA_1_validation,HOBBIES_1_011,HOBBIES_1,HOBBIES,CA_1,CA,3,d_251,0.0,251
7622512,HOBBIES_1_013_CA_1_validation,HOBBIES_1_013,HOBBIES_1,HOBBIES,CA_1,CA,3,d_251,0.0,251
7622513,HOBBIES_1_014_CA_1_validation,HOBBIES_1_014,HOBBIES_1,HOBBIES,CA_1,CA,3,d_251,0.0,251

In [35]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==0)&(grid_df['day']<=1000)].index)

In [36]:
grid_df.shape

(51858590, 10)

In [38]:
55348590-51858590

3490000

In [37]:
grid_df[grid_df['cluster']==0].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
30490044,HOBBIES_1_045_CA_1_validation,HOBBIES_1_045,HOBBIES_1,HOBBIES,CA_1,CA,0,d_1001,0.0,1001
30490045,HOBBIES_1_046_CA_1_validation,HOBBIES_1_046,HOBBIES_1,HOBBIES,CA_1,CA,0,d_1001,0.0,1001
30490088,HOBBIES_1_091_CA_1_validation,HOBBIES_1_091,HOBBIES_1,HOBBIES,CA_1,CA,0,d_1001,0.0,1001
30490099,HOBBIES_1_104_CA_1_validation,HOBBIES_1_104,HOBBIES_1,HOBBIES,CA_1,CA,0,d_1001,0.0,1001
30490120,HOBBIES_1_125_CA_1_validation,HOBBIES_1_125,HOBBIES_1,HOBBIES,CA_1,CA,0,d_1001,0.0,1001

In [39]:
grid_df.reset_index(drop=True, inplace=True)

In [40]:
grid_df.shape

(51858590, 10)

In [41]:
grid_df.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day
51858585,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
51858586,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
51858587,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1,d_1941,NaN,1941
51858588,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,2,d_1941,NaN,1941
51858589,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,d_1941,NaN,1941

In [42]:
print('Release week')

# It seems that leadings zero values
# in each train_df item row
# are not real 0 sales but mean
# absence for the item in the store
# we can safe some memory by removing
# such zeros

# Prices are set by week
# so it we will have not very accurate release week 
release_df = prices_df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()
release_df.columns = ['store_id','item_id','release']

Release week

In [43]:
release_df.head() # release: the first wm_yr_wk has price

  store_id      item_id  release
0     CA_1  FOODS_1_001    11101
1     CA_1  FOODS_1_002    11101
2     CA_1  FOODS_1_003    11101
3     CA_1  FOODS_1_004    11206
4     CA_1  FOODS_1_005    11101

In [44]:
# Now we can merge release_df
grid_df = merge_by_concat(grid_df, release_df, ['store_id','item_id'])
del release_df

In [45]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day,release
894,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_1,3.0,1,11101
18134,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_2,0.0,2,11101
35374,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_3,0.0,3,11101
52614,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_4,1.0,4,11101
69854,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_5,4.0,5,11101

In [46]:
# We want to remove some "zeros" rows
# from grid_df 
# to do it we need wm_yr_wk column
# let's merge partly calendar_df to have it
grid_df = merge_by_concat(grid_df, calendar_df[['wm_yr_wk','d']], ['d'])

In [47]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day,release,wm_yr_wk
894,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_1,3.0,1,11101,11101
18134,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_2,0.0,2,11101,11101
35374,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_3,0.0,3,11101,11101
52614,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_4,1.0,4,11101,11101
69854,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_5,4.0,5,11101,11101

In [48]:
grid_df.shape

(51858590, 12)

In [49]:
# Now we can cutoff some rows 
# and safe memory 
grid_df = grid_df[grid_df['wm_yr_wk']>=grid_df['release']]
grid_df = grid_df.reset_index(drop=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

    Original grid_df:   2.4GiB

In [50]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,day,release,wm_yr_wk
574,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_1,3.0,1,11101,11101
11331,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_2,0.0,2,11101,11101
22088,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_3,0.0,3,11101,11101
32845,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_4,1.0,4,11101,11101
43602,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_5,4.0,5,11101,11101

In [51]:
grid_df.shape # previous fe2:46881677

(46706436, 12)

In [1]:
46881677-46706436

175241

In [52]:
51858590-46706436

5152154

In [53]:
grid_df.drop('day', axis=1, inplace=True)

In [54]:
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,release,wm_yr_wk
0,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,12.0,11101,11101
1,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,2.0,11101,11101
2,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0,11101,11101
3,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,0.0,11101,11101
4,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,1,d_1,4.0,11101,11101

In [55]:
# Should we keep release week 
# as one of the features?
# Only good CV can give the answer.
# Let's minify the release values.
# Min transformation will not help here 
# as int16 -> Integer (-32768 to 32767)
# and our grid_df['release'].max() serves for int16
# but we have have an idea how to transform 
# other columns in case we will need it
grid_df['release'] = grid_df['release'] - grid_df['release'].min()
grid_df['release'] = grid_df['release'].astype(np.int16)

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

     Reduced grid_df:   1.8GiB

In [56]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

,id,item_id,dept_id,cat_id,store_id,state_id,cluster,d,sales,release,wm_yr_wk
574,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_1,3.0,0,11101
11331,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_2,0.0,0,11101
22088,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_3,0.0,0,11101
32845,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_4,1.0,0,11101
43602,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,d_5,4.0,0,11101

In [57]:
print('Save Part 1')

# We have our BASE grid ready
# and can save it as pickle file
# for future use (model training)
grid_df.to_pickle('grid_part_1.pkl')

print('Size:', grid_df.shape)

Save Part 1
Size: (46706436, 11)

In [58]:
# add price feature
prices_df.head(5)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [59]:
print('Prices')

# We can do some basic aggregations
prices_df['price_max'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('max')
prices_df['price_min'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('min')
prices_df['price_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('std')
prices_df['price_mean'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# and do price normalization (min/max scaling)
prices_df['price_norm'] = prices_df['sell_price']/prices_df['price_max']

Prices

# #price_rank_dept

In [60]:
# price_rank_dept
prices_df["dept"]=prices_df["item_id"].apply(lambda x: x.split('_'))
prices_df["dept"]=prices_df["dept"].apply(lambda x: str(x[0:2]))

cat=prices_df["dept"].value_counts().index

a=pd.DataFrame()
k=10
for i in range(len(cat))    :
    temp=pd.cut(prices_df[prices_df["dept"]==cat[i]]['sell_price'],k,labels = range(k))
    a=pd.concat([a,temp])
a.columns=["price_rank_dept"]
a.sort_index(inplace=True)

prices_df=pd.concat([prices_df,a],axis=1)
prices_df["price_rank_dept"]=prices_df["price_rank_dept"].astype("category")
prices_df.drop(["dept"],axis=1,inplace=True)
del a,cat,k
gc.collect()

42

In [61]:
prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_rank_dept
0,CA_1,HOBBIES_1_001,11325,9.58,9.58,8.26,0.152139,8.285714,1.000000,3
1,CA_1,HOBBIES_1_001,11326,9.58,9.58,8.26,0.152139,8.285714,1.000000,3
2,CA_1,HOBBIES_1_001,11327,8.26,9.58,8.26,0.152139,8.285714,0.862213,2
3,CA_1,HOBBIES_1_001,11328,8.26,9.58,8.26,0.152139,8.285714,0.862213,2
4,CA_1,HOBBIES_1_001,11329,8.26,9.58,8.26,0.152139,8.285714,0.862213,2

In [62]:
# Some items are can be inflation dependent
# and some items are very "stable"
# check how many unique values each group has
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique')
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

In [63]:
prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_rank_dept,price_nunique,item_nunique
0,CA_1,HOBBIES_1_001,11325,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,3.0,3
1,CA_1,HOBBIES_1_001,11326,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,3.0,3
2,CA_1,HOBBIES_1_001,11327,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5
3,CA_1,HOBBIES_1_001,11328,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5
4,CA_1,HOBBIES_1_001,11329,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5

In [64]:
# I would like some "rolling" aggregations
# but would like months and years as "window"
calendar_prices = calendar_df[['wm_yr_wk','month','year']]
calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk'])
prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left')
del calendar_prices

# Now we can add price "momentum" (some sort of)
# Shifted by week 
# by month mean
# by year mean
prices_df['price_momentum'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1))
prices_df['price_momentum_m'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
prices_df['price_momentum_y'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

# weather-box

In [65]:
## https://zh.weatherspark.com/y/
# 'temperature_high' 
# 'temperature_low' 
# temperature: 
# 极冷 0
# 冰冻 1
# 很冷 2
# 寒冷 3
# 凉爽 4
# 舒适 5
# 暖和 6
# 热 7
# 热 8

In [66]:
ca_mask=(prices_df["store_id"]=="CA_1")|(prices_df["store_id"]=="CA_2")|(prices_df["store_id"]=="CA_3")|(prices_df["store_id"]=="CA_4")
tx_mask=(prices_df["store_id"]=="TX_1")|(prices_df["store_id"]=="TX_2")|(prices_df["store_id"]=="TX_3")
wi_mask=(prices_df["store_id"]=="WI_1")|(prices_df["store_id"]=="WI_2")|(prices_df["store_id"]=="WI_3")

In [67]:
#WEATHER PARMS
prices_df['temperature_high']=np.nan
prices_df['temperature_con']=np.nan
prices_df['rainfall_m']=np.nan
prices_df['snow_m']=np.nan

## wi_mask 
# temperature_con

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'temperature_con']=1
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'temperature_con']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'temperature_con']=2.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'temperature_con']=3.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'temperature_con']=4.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'temperature_con']=5.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'temperature_con']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'temperature_con']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'temperature_con']=5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'temperature_con']=4
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'temperature_con']=3
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'temperature_con']=2

# temperature_high

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'temperature_high']=0.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'temperature_high']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'temperature_high']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'temperature_high']=12
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'temperature_high']=18
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'temperature_high']=(21+27)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'temperature_high']=27
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'temperature_high']=25
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'temperature_high']=22
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'temperature_high']=(17+12)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'temperature_high']=(12+4)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'temperature_high']=(4+0)/2

# rainfall_m

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'rainfall_m']=16
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'rainfall_m']=21
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'rainfall_m']=42
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'rainfall_m']=72
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'rainfall_m']=80
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'rainfall_m']=86
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'rainfall_m']=80
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'rainfall_m']=82
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'rainfall_m']=76
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'rainfall_m']=63
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'rainfall_m']=50
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'rainfall_m']=31

# snow_m

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'snow_m']=11
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'snow_m']=10
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'snow_m']=5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'snow_m']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'snow_m']=3
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'snow_m']=9

In [68]:
prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_rank_dept,...,item_nunique,month,year,price_momentum,price_momentum_m,price_momentum_y,temperature_high,temperature_con,rainfall_m,snow_m
0,CA_1,HOBBIES_1_001,11325,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,...,3,7,2013,NaN,1.127059,1.145166,NaN,NaN,NaN,NaN
1,CA_1,HOBBIES_1_001,11326,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,...,3,7,2013,1.000000,1.127059,1.145166,NaN,NaN,NaN,NaN
2,CA_1,HOBBIES_1_001,11327,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,7,2013,0.862213,0.971765,0.987377,NaN,NaN,NaN,NaN
3,CA_1,HOBBIES_1_001,11328,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,8,2013,1.000000,1.000000,0.987377,NaN,NaN,NaN,NaN
4,CA_1,HOBBIES_1_001,11329,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,8,2013,1.000000,1.000000,0.987377,NaN,NaN,NaN,NaN

In [69]:
## ca_mask 
# temperature_con

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'temperature_con']=5

# temperature_high

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'temperature_high']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'temperature_high']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'temperature_high']=21
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'temperature_high']=22.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'temperature_high']=23.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'temperature_high']=25.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'temperature_high']=28
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'temperature_high']=29.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'temperature_high']=28.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'temperature_high']=25.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'temperature_high']=22
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'temperature_high']=20

# rainfall_m

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'rainfall_m']=69
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'rainfall_m']=79
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'rainfall_m']=50
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'rainfall_m']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'rainfall_m']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'rainfall_m']=1.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'rainfall_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'rainfall_m']=1
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'rainfall_m']=4
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'rainfall_m']=12
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'rainfall_m']=29
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'rainfall_m']=52

# snow_m

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'snow_m']=0

In [70]:
## tx_mask 
# temperature_con(气候概要)

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'temperature_con']=4
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'temperature_con']=4
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'temperature_con']=5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'temperature_con']=7
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'temperature_con']=8
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'temperature_con']=8
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'temperature_con']=7
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'temperature_con']=5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'temperature_con']=4

# temperature_high

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'temperature_high']=14
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'temperature_high']=17
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'temperature_high']=21
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'temperature_high']=24.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'temperature_high']=28.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'temperature_high']=32.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'temperature_high']=35
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'temperature_high']=35.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'temperature_high']=31
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'temperature_high']=26
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'temperature_high']=19
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'temperature_high']=15

# rainfall_m

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'rainfall_m']=50
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'rainfall_m']=59
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'rainfall_m']=70
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'rainfall_m']=85
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'rainfall_m']=102
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'rainfall_m']=80
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'rainfall_m']=42
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'rainfall_m']=47
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'rainfall_m']=64
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'rainfall_m']=89
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'rainfall_m']=70
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'rainfall_m']=62

# snow_m

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'snow_m']=0

In [71]:
prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_rank_dept,...,item_nunique,month,year,price_momentum,price_momentum_m,price_momentum_y,temperature_high,temperature_con,rainfall_m,snow_m
0,CA_1,HOBBIES_1_001,11325,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,...,3,7,2013,NaN,1.127059,1.145166,28.0,6.0,0.0,0.0
1,CA_1,HOBBIES_1_001,11326,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,...,3,7,2013,1.000000,1.127059,1.145166,28.0,6.0,0.0,0.0
2,CA_1,HOBBIES_1_001,11327,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,7,2013,0.862213,0.971765,0.987377,28.0,6.0,0.0,0.0
3,CA_1,HOBBIES_1_001,11328,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,8,2013,1.000000,1.000000,0.987377,29.5,6.0,1.0,0.0
4,CA_1,HOBBIES_1_001,11329,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,...,5,8,2013,1.000000,1.000000,0.987377,29.5,6.0,1.0,0.0

In [72]:
del prices_df['month'], prices_df['year']

In [73]:
prices_df.head()

,store_id,item_id,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_rank_dept,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,temperature_high,temperature_con,rainfall_m,snow_m
0,CA_1,HOBBIES_1_001,11325,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,3.0,3,NaN,1.127059,1.145166,28.0,6.0,0.0,0.0
1,CA_1,HOBBIES_1_001,11326,9.58,9.58,8.26,0.152139,8.285714,1.000000,3,3.0,3,1.000000,1.127059,1.145166,28.0,6.0,0.0,0.0
2,CA_1,HOBBIES_1_001,11327,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5,0.862213,0.971765,0.987377,28.0,6.0,0.0,0.0
3,CA_1,HOBBIES_1_001,11328,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5,1.000000,1.000000,0.987377,29.5,6.0,1.0,0.0
4,CA_1,HOBBIES_1_001,11329,8.26,9.58,8.26,0.152139,8.285714,0.862213,2,3.0,5,1.000000,1.000000,0.987377,29.5,6.0,1.0,0.0

In [74]:
print('Merge prices and save part 2')

# Merge Prices
original_columns = list(grid_df)
grid_df = grid_df.merge(prices_df, on=['store_id','item_id','wm_yr_wk'], how='left')
keep_columns = [col for col in list(grid_df) if col not in original_columns]
grid_df = grid_df[MAIN_INDEX+keep_columns]
grid_df = reduce_mem_usage(grid_df)

# Safe part 2
grid_df.to_pickle('grid_part_2.pkl')
print('Size:', grid_df.shape)

# We don't need prices_df anymore
del prices_df
gc.collect()

Merge prices and save part 2
Mem. usage decreased to 2184.08 Mb (64.7% reduction)
Size: (46706436, 18)

0

# calender feature

In [7]:
# add calender feature
calendar_df.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [334]:
calendar_df["event_name_1"].unique()

array([nan, 'SuperBowl', 'ValentinesDay', 'PresidentsDay', 'LentStart',
       'LentWeek2', 'StPatricksDay', 'Purim End', 'OrthodoxEaster',
       'Pesach End', 'Cinco De Mayo', "Mother's day", 'MemorialDay',
       'NBAFinalsStart', 'NBAFinalsEnd', "Father's day",
       'IndependenceDay', 'Ramadan starts', 'Eid al-Fitr', 'LaborDay',
       'ColumbusDay', 'Halloween', 'EidAlAdha', 'VeteransDay',
       'Thanksgiving', 'Christmas', 'Chanukah End', 'NewYear',
       'OrthodoxChristmas', 'MartinLutherKingDay', 'Easter'], dtype=object)

In [335]:
calendar_df["event_type_1"].unique()

array([nan, 'Sporting', 'Cultural', 'National', 'Religious'], dtype=object)

In [76]:
## 上下半月
calendar_df['date']=pd.to_datetime(calendar_df['date'],format="%Y-%m-%d")
# calendar_df['is_first_half_month']=
calendar_df['is_first_half_month']=[ 1 if x.day>=15 else 0  for x in calendar_df['date']]
calendar_df['is_first_half_month']=calendar_df['is_first_half_month'].astype("category")

周级别处理(wday ==1,2 是weekedn)

In [77]:
# calendar_df=calendar_df.reset_index()
calendar_df["weekend"]=[ 1 if x<=2 else 0  for x in calendar_df['wday']]

calendar_df

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_first_half_month,weekend
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,1,1
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0,1,1
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0,1,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0,0,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1,0,0
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1,0,0
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0,0,0
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1,0,1
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1,0,1
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0,0,0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1,0,0
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1,0,0
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0,0,0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1,0,0
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1,0,1
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0,0,1
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1,0,0
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1,1,0
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0,1,0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0,1,0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0,1,0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0,1,1
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0,1,1
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0,1,0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0,1,0
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0,1,0
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0,1,0
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0,1,0
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0,1,1
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,2016-05-21,11617,Saturday,1,5,2016,d_1940,NaN,NaN,NaN,NaN,0,0,0,1,1
1940,2016-05-22,11617,Sunday,2,5,2016,d_1941,NaN,NaN,NaN,NaN,0,0,0,1,1
1941,2016-05-23,11617,Monday,3,5,2016,d_1942,NaN,NaN,NaN,NaN,0,0,0,1,0
1942,2016-05-24,11617,Tuesday,4,5,2016,d_1943,NaN,NaN,NaN,NaN,0,0,0,1,0
1943,2016-05-25,11617,Wednesday,5,5,2016,d_1944,NaN,NaN,NaN,NaN,0,0,0,1,0
1944,2016-05-26,11617,Thursday,6,5,2016,d_1945,NaN,NaN,NaN,NaN,0,0,0,1,0
1945,2016-05-27,11617,Friday,7,5,2016,d_1946,NaN,NaN,NaN,NaN,0,0,0,1,0
1946,2016-05-28,11618,Saturday,1,5,2016,d_1947,NaN,NaN,NaN,NaN,0,0,0,1,1
1947,2016-05-29,11618,Sunday,2,5,2016,d_1948,NaN,NaN,NaN,NaN,0,0,0,1,1
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,NaN,0,0,0,1,0
1949,2016-05-31,11618,Tuesday,4,5,2016,d_1950,NaN,NaN,NaN,NaN,0,0,0,1,0
1950,2016-06-01,11618,Wednesday,5,6,2016,d_1951,NaN,NaN,NaN,NaN,1,1,0,0,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1,0,0
1952,2016-06-03,11618,Friday,7,6,2016,d_1953,NaN,NaN,NaN,NaN,1,1,1,0,0
1953,2016-06-04,11619,Saturday,1,6,2016,d_1954,NaN,NaN,NaN,NaN,1,0,0,0,1
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,NaN,1,1,1,0,1
1955,2016-06-06,11619,Monday,3,6,2016,d_1956,NaN,NaN,NaN,NaN,1,1,1,0,0
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0,0,0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,NaN,1,0,1,0,0
1958,2016-06-09,11619,Thursday,6,6,2016,d_1959,NaN,NaN,NaN,NaN,1,1,1,0,0
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,NaN,1,0,0,0,0
1960,2016-06-11,11620,Saturday,1,6,2016,d_1961,NaN,NaN,NaN,NaN,0,1,1,0,1
1961,2016-06-12,11620,Sunday,2,6,2016,d_1962,NaN,NaN,NaN,NaN,0,1,1,0,1
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,NaN,0,1,0,0,0
1963,2016-06-14,11620,Tuesday,4,6,2016,d_1964,NaN,NaN,NaN,NaN,0,0,1,0,0
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1,1,0
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0,1,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0,1,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0,1,1
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,1,1

In [78]:
calendar_df[~calendar_df["event_name_1"].isnull()].index

Int64Index([   8,   16,   23,   39,   46,   47,   50,   85,   87,   96,
            ...
            1881, 1884, 1918, 1919, 1923, 1926, 1948, 1951, 1956, 1968],
           dtype='int64', length=162)

# 节日前后处理 event_index

In [8]:
calendar_df["event_attention_after"]=np.nan
event_index=calendar_df[~calendar_df["event_name_1"].isnull()].index
for i in range(0,8):
    if event_index[-1]+i>=calendar_df.shape[0]:
        event_index=event_index[event_index<(event_index[-1]-i)]
    calendar_df.loc[event_index+i,"event_attention_after"]=7-i
calendar_df.loc[event_index,"event_attention_after"]=7


event_index=calendar_df[~calendar_df["event_name_1"].isnull()].index

In [9]:
calendar_df.head(100)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,event_attention_after
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,NaN
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0,NaN
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0,NaN
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0,NaN
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1,NaN
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1,NaN
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0,NaN
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1,NaN
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1,7.0
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0,6.0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1,5.0
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1,4.0
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0,3.0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1,2.0
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1,1.0
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0,0.0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1,7.0
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1,6.0
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0,5.0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0,4.0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0,3.0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0,2.0
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0,1.0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0,7.0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0,6.0
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0,5.0
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0,4.0
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0,3.0
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0,2.0
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2011-04-09,11111,Saturday,1,4,2011,d_71,NaN,NaN,NaN,NaN,1,1,1,NaN
71,2011-04-10,11111,Sunday,2,4,2011,d_72,NaN,NaN,NaN,NaN,1,0,0,NaN
72,2011-04-11,11111,Monday,3,4,2011,d_73,NaN,NaN,NaN,NaN,0,1,1,NaN
73,2011-04-12,11111,Tuesday,4,4,2011,d_74,NaN,NaN,NaN,NaN,0,1,1,NaN
74,2011-04-13,11111,Wednesday,5,4,2011,d_75,NaN,NaN,NaN,NaN,0,1,0,NaN
75,2011-04-14,11111,Thursday,6,4,2011,d_76,NaN,NaN,NaN,NaN,0,0,1,NaN
76,2011-04-15,11111,Friday,7,4,2011,d_77,NaN,NaN,NaN,NaN,0,1,1,NaN
77,2011-04-16,11112,Saturday,1,4,2011,d_78,NaN,NaN,NaN,NaN,0,0,0,NaN
78,2011-04-17,11112,Sunday,2,4,2011,d_79,NaN,NaN,NaN,NaN,0,0,0,NaN
79,2011-04-18,11112,Monday,3,4,2011,d_80,NaN,NaN,NaN,NaN,0,0,0,NaN
80,2011-04-19,11112,Tuesday,4,4,2011,d_81,NaN,NaN,NaN,NaN,0,0,0,NaN
81,2011-04-20,11112,Wednesday,5,4,2011,d_82,NaN,NaN,NaN,NaN,0,0,0,NaN
82,2011-04-21,11112,Thursday,6,4,2011,d_83,NaN,NaN,NaN,NaN,0,0,0,NaN
83,2011-04-22,11112,Friday,7,4,2011,d_84,NaN,NaN,NaN,NaN,0,0,0,NaN
84,2011-04-23,11113,Saturday,1,4,2011,d_85,NaN,NaN,NaN,NaN,0,0,0,NaN
85,2011-04-24,11113,Sunday,2,4,2011,d_86,OrthodoxEaster,Religious,Easter,Cultural,0,0,0,7.0
86,2011-04-25,11113,Monday,3,4,2011,d_87,NaN,NaN,NaN,NaN,0,0,0,6.0
87,2011-04-26,11113,Tuesday,4,4,2011,d_88,Pesach End,Religious,NaN,NaN,0,0,0,7.0
88,2011-04-27,11113,Wednesday,5,4,2011,d_89,NaN,NaN,NaN,NaN,0,0,0,4.0
89,2011-04-28,11113,Thursday,6,4,2011,d_90,NaN,NaN,NaN,NaN,0,0,0,3.0
90,2011-04-29,11113,Friday,7,4,2011,d_91,NaN,NaN,NaN,NaN,0,0,0,2.0
91,2011-04-30,11114,Saturday,1,4,2011,d_92,NaN,NaN,NaN,NaN,0,0,0,1.0
92,2011-05-01,11114,Sunday,2,5,2011,d_93,NaN,NaN,NaN,NaN,1,1,0,0.0
93,2011-05-02,11114,Monday,3,5,2011,d_94,NaN,NaN,NaN,NaN,1,0,1,1.0
94,2011-05-03,11114,Tuesday,4,5,2011,d_95,NaN,NaN,NaN,NaN,1,1,1,0.0
95,2011-05-04,11114,Wednesday,5,5,2011,d_96,NaN,NaN,NaN,NaN,1,0,0,NaN
96,2011-05-05,11114,Thursday,6,5,2011,d_97,Cinco De Mayo,Cultural,NaN,NaN,1,1,1,7.0
97,2011-05-06,11114,Friday,7,5,2011,d_98,NaN,NaN,NaN,NaN,1,1,1,6.0
98,2011-05-07,11115,Saturday,1,5,2011,d_99,NaN,NaN,NaN,NaN,1,1,0,5.0
99,2011-05-08,11115,Sunday,2,5,2011,d_100,Mother's day,Cultural,NaN,NaN,1,0,1,7.0

In [10]:
calendar_df["event_attention_bef"]=np.nan
for i in range(0,8):
    calendar_df.loc[calendar_df[~calendar_df["event_name_1"].isnull()].index-i,"event_attention_bef"]=i*-1
calendar_df.loc[calendar_df[~calendar_df["event_name_1"].isnull()].index,"event_attention_bef"]=0

In [11]:
calendar_df.head(100)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,event_attention_after,event_attention_bef
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0,NaN,-7.0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0,NaN,-6.0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0,NaN,-5.0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1,NaN,-4.0
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1,NaN,-3.0
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0,NaN,-2.0
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1,NaN,-1.0
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1,7.0,0.0
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0,6.0,-7.0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1,5.0,-6.0
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1,4.0,-5.0
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0,3.0,-4.0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1,2.0,-3.0
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1,1.0,-2.0
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0,0.0,-1.0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1,7.0,0.0
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1,6.0,-6.0
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0,5.0,-5.0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0,4.0,-4.0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0,3.0,-3.0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0,2.0,-2.0
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0,1.0,-1.0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0,7.0,0.0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0,6.0,NaN
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0,5.0,NaN
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0,4.0,NaN
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0,3.0,NaN
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0,2.0,NaN
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2011-04-09,11111,Saturday,1,4,2011,d_71,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN
71,2011-04-10,11111,Sunday,2,4,2011,d_72,NaN,NaN,NaN,NaN,1,0,0,NaN,NaN
72,2011-04-11,11111,Monday,3,4,2011,d_73,NaN,NaN,NaN,NaN,0,1,1,NaN,NaN
73,2011-04-12,11111,Tuesday,4,4,2011,d_74,NaN,NaN,NaN,NaN,0,1,1,NaN,NaN
74,2011-04-13,11111,Wednesday,5,4,2011,d_75,NaN,NaN,NaN,NaN,0,1,0,NaN,NaN
75,2011-04-14,11111,Thursday,6,4,2011,d_76,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN
76,2011-04-15,11111,Friday,7,4,2011,d_77,NaN,NaN,NaN,NaN,0,1,1,NaN,NaN
77,2011-04-16,11112,Saturday,1,4,2011,d_78,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN
78,2011-04-17,11112,Sunday,2,4,2011,d_79,NaN,NaN,NaN,NaN,0,0,0,NaN,-7.0
79,2011-04-18,11112,Monday,3,4,2011,d_80,NaN,NaN,NaN,NaN,0,0,0,NaN,-6.0
80,2011-04-19,11112,Tuesday,4,4,2011,d_81,NaN,NaN,NaN,NaN,0,0,0,NaN,-7.0
81,2011-04-20,11112,Wednesday,5,4,2011,d_82,NaN,NaN,NaN,NaN,0,0,0,NaN,-6.0
82,2011-04-21,11112,Thursday,6,4,2011,d_83,NaN,NaN,NaN,NaN,0,0,0,NaN,-5.0
83,2011-04-22,11112,Friday,7,4,2011,d_84,NaN,NaN,NaN,NaN,0,0,0,NaN,-4.0
84,2011-04-23,11113,Saturday,1,4,2011,d_85,NaN,NaN,NaN,NaN,0,0,0,NaN,-3.0
85,2011-04-24,11113,Sunday,2,4,2011,d_86,OrthodoxEaster,Religious,Easter,Cultural,0,0,0,7.0,0.0
86,2011-04-25,11113,Monday,3,4,2011,d_87,NaN,NaN,NaN,NaN,0,0,0,6.0,-1.0
87,2011-04-26,11113,Tuesday,4,4,2011,d_88,Pesach End,Religious,NaN,NaN,0,0,0,7.0,0.0
88,2011-04-27,11113,Wednesday,5,4,2011,d_89,NaN,NaN,NaN,NaN,0,0,0,4.0,NaN
89,2011-04-28,11113,Thursday,6,4,2011,d_90,NaN,NaN,NaN,NaN,0,0,0,3.0,-7.0
90,2011-04-29,11113,Friday,7,4,2011,d_91,NaN,NaN,NaN,NaN,0,0,0,2.0,-6.0
91,2011-04-30,11114,Saturday,1,4,2011,d_92,NaN,NaN,NaN,NaN,0,0,0,1.0,-5.0
92,2011-05-01,11114,Sunday,2,5,2011,d_93,NaN,NaN,NaN,NaN,1,1,0,0.0,-7.0
93,2011-05-02,11114,Monday,3,5,2011,d_94,NaN,NaN,NaN,NaN,1,0,1,1.0,-6.0
94,2011-05-03,11114,Tuesday,4,5,2011,d_95,NaN,NaN,NaN,NaN,1,1,1,0.0,-5.0
95,2011-05-04,11114,Wednesday,5,5,2011,d_96,NaN,NaN,NaN,NaN,1,0,0,NaN,-4.0
96,2011-05-05,11114,Thursday,6,5,2011,d_97,Cinco De Mayo,Cultural,NaN,NaN,1,1,1,7.0,0.0
97,2011-05-06,11114,Friday,7,5,2011,d_98,NaN,NaN,NaN,NaN,1,1,1,6.0,-2.0
98,2011-05-07,11115,Saturday,1,5,2011,d_99,NaN,NaN,NaN,NaN,1,1,0,5.0,-1.0
99,2011-05-08,11115,Sunday,2,5,2011,d_100,Mother's day,Cultural,NaN,NaN,1,0,1,7.0,0.0

In [82]:
calendar_df["event_attention_sum"]=calendar_df["event_attention_bef"]+calendar_df["event_attention_after"]

In [83]:
calendar_df["event_bef_weekend"]=np.nan
event_round_index=calendar_df[~calendar_df["event_attention_bef"].isnull()]
calendar_df.loc[event_round_index[event_round_index.wday<=2].index,"event_bef_weekend"]=1
calendar_df.loc[event_index,"event_bef_weekend"]=0

In [84]:
calendar_df["event_after_weekend"]=np.nan
event_round_index=calendar_df[~calendar_df["event_attention_after"].isnull()]
calendar_df.loc[event_round_index[event_round_index.wday<=2].index,"event_after_weekend"]=1
calendar_df.loc[event_index,"event_after_weekend"]=0

#  NBA

In [85]:
# Lent
# 大斋节亦称“封斋节”，是基督教的斋戒节期。据《新约圣经》载，耶稣于开始传教前在旷野守斋祈祷40昼夜。教会为表示纪念，规定棕枝主日前的40天为此节期。
# 教徒在此期间一般于星期五守大斋和小斋。

# Chanukah End
# 欢庆光明节的人往往会烹制油炸食品，以此象征亮了8天的灯油传奇。特色节日佳肴包括犹太薯饼（latkes）以及有果酱夹心的犹太甜甜圈（sufganya）。

In [86]:
# 赛事数据
calendar_df["NBA"]=np.nan
calendar_df["date"]=pd.to_datetime(calendar_df["date"])
#http://www.uhchina.com/lanqiu/2013-2014nba/
# http://sports.sina.com.cn/nba/playoff1213.html
a=[[2011,5,31],[2011,6,2],[2011,6,5],[2011,6,7],[2011,6,9],[2011,6,12],
   [2012,6,12],[2012,6,14],[2012,6,17],[2012,6,19],[2012,6,21],
   [2013,6,6],[2013,6,9],[2013,6,11],[2013,6,13],[2013,6,16],[2013,6,18],[2013,6,20],
   [2014,6,5],[2014,6,8],[2014,6,10],[2014,6,12],[2014,6,15], 
   [2015,6,4],[2015,6,7],[2015,6,9],[2015,6,11],[2015,6,14], [2015,6,16],
   [2016,6,2],[2016,6,5],[2016,6,8],[2016,6,10],[2016,6,13],[2016,6,16] ,[2016,6,19]
  ]
for i in range(0,len(a)):
    calendar_df.loc[calendar_df[calendar_df["date"]==datetime.datetime(*a[i])].index,"NBA"]=1

In [87]:
calendar_df[calendar_df["NBA"]==1]

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,...,snap_TX,snap_WI,is_first_half_month,weekend,event_attention_after,event_attention_bef,event_attention_sum,event_bef_weekend,event_after_weekend,NBA
122,2011-05-31,11118,Tuesday,4,5,2011,d_123,NBAFinalsStart,Sporting,NaN,...,0,0,1,0,7.0,0.0,7.0,0.0,0.0,1.0
124,2011-06-02,11118,Thursday,6,6,2011,d_125,NaN,NaN,NaN,...,0,1,0,0,4.0,NaN,NaN,NaN,NaN,1.0
127,2011-06-05,11119,Sunday,2,6,2011,d_128,NaN,NaN,NaN,...,1,1,0,1,1.0,-7.0,-6.0,1.0,1.0,1.0
129,2011-06-07,11119,Tuesday,4,6,2011,d_130,NaN,NaN,NaN,...,1,0,0,0,0.0,-5.0,-5.0,NaN,NaN,1.0
131,2011-06-09,11119,Thursday,6,6,2011,d_132,NaN,NaN,NaN,...,1,1,0,0,NaN,-3.0,NaN,NaN,NaN,1.0
134,2011-06-12,11120,Sunday,2,6,2011,d_135,NBAFinalsEnd,Sporting,NaN,...,1,1,0,1,7.0,0.0,7.0,0.0,0.0,1.0
500,2012-06-12,11220,Tuesday,4,6,2012,d_501,NBAFinalsStart,Sporting,NaN,...,1,1,0,0,7.0,0.0,7.0,0.0,0.0,1.0
502,2012-06-14,11220,Thursday,6,6,2012,d_503,NaN,NaN,NaN,...,0,1,0,0,5.0,-7.0,-2.0,NaN,NaN,1.0
505,2012-06-17,11221,Sunday,2,6,2012,d_506,Father's day,Cultural,NaN,...,0,0,1,1,7.0,0.0,7.0,0.0,0.0,1.0
507,2012-06-19,11221,Tuesday,4,6,2012,d_508,NaN,NaN,NaN,...,0,0,1,0,0.0,-2.0,-2.0,NaN,NaN,1.0
509,2012-06-21,11221,Thursday,6,6,2012,d_510,NBAFinalsEnd,Sporting,NaN,...,0,0,1,0,7.0,0.0,7.0,0.0,0.0,1.0
859,2013-06-06,11319,Thursday,6,6,2013,d_860,NBAFinalsStart,Sporting,NaN,...,1,1,0,0,7.0,0.0,7.0,0.0,0.0,1.0
862,2013-06-09,11320,Sunday,2,6,2013,d_863,NaN,NaN,NaN,...,1,1,0,1,4.0,-7.0,-3.0,1.0,1.0,1.0
864,2013-06-11,11320,Tuesday,4,6,2013,d_865,NaN,NaN,NaN,...,1,1,0,0,2.0,-5.0,-3.0,NaN,NaN,1.0
866,2013-06-13,11320,Thursday,6,6,2013,d_867,NaN,NaN,NaN,...,1,0,0,0,0.0,-7.0,-7.0,NaN,NaN,1.0
869,2013-06-16,11321,Sunday,2,6,2013,d_870,Father's day,Cultural,NaN,...,0,0,1,1,7.0,0.0,7.0,0.0,0.0,1.0
871,2013-06-18,11321,Tuesday,4,6,2013,d_872,NaN,NaN,NaN,...,0,0,1,0,5.0,-2.0,3.0,NaN,NaN,1.0
873,2013-06-20,11321,Thursday,6,6,2013,d_874,NBAFinalsEnd,Sporting,NaN,...,0,0,1,0,7.0,0.0,7.0,0.0,0.0,1.0
1223,2014-06-05,11418,Thursday,6,6,2014,d_1224,NBAFinalsStart,Sporting,NaN,...,1,1,0,0,7.0,0.0,7.0,0.0,0.0,1.0
1226,2014-06-08,11419,Sunday,2,6,2014,d_1227,NaN,NaN,NaN,...,0,1,0,1,4.0,-7.0,-3.0,1.0,1.0,1.0
1228,2014-06-10,11419,Tuesday,4,6,2014,d_1229,NaN,NaN,NaN,...,0,0,0,0,2.0,-5.0,-3.0,NaN,NaN,1.0
1230,2014-06-12,11419,Thursday,6,6,2014,d_1231,NaN,NaN,NaN,...,1,1,0,0,0.0,-3.0,-3.0,NaN,NaN,1.0
1233,2014-06-15,11420,Sunday,2,6,2014,d_1234,NBAFinalsEnd,Sporting,Father's day,...,1,1,1,1,7.0,0.0,7.0,0.0,0.0,1.0
1587,2015-06-04,11518,Thursday,6,6,2015,d_1588,NBAFinalsStart,Sporting,NaN,...,0,0,0,0,7.0,0.0,7.0,0.0,0.0,1.0
1590,2015-06-07,11519,Sunday,2,6,2015,d_1591,NaN,NaN,NaN,...,1,0,0,1,4.0,NaN,NaN,NaN,1.0,1.0
1592,2015-06-09,11519,Tuesday,4,6,2015,d_1593,NaN,NaN,NaN,...,1,1,0,0,2.0,-7.0,-5.0,NaN,NaN,1.0
1594,2015-06-11,11519,Thursday,6,6,2015,d_1595,NaN,NaN,NaN,...,1,1,0,0,0.0,-7.0,-7.0,NaN,NaN,1.0
1597,2015-06-14,11520,Sunday,2,6,2015,d_1598,NaN,NaN,NaN,...,0,1,0,1,NaN,-7.0,NaN,1.0,NaN,1.0
1599,2015-06-16,11520,Tuesday,4,6,2015,d_1600,NBAFinalsEnd,Sporting,NaN,...,0,0,1,0,7.0,0.0,7.0,0.0,0.0,1.0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,...,0,1,0,0,7.0,0.0,7.0,0.0,0.0,1.0
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,...,1,1,0,1,1.0,-2.0,-1.0,1.0,1.0,1.0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,...,0,1,0,0,1.0,NaN,NaN,NaN,NaN,1.0
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,...,0,0,0,0,4.0,NaN,NaN,NaN,NaN,1.0
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,...,1,0,0,0,1.0,-6.0,-5.0,NaN,NaN,1.0
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,...,0,0,1,0,NaN,-3.0,NaN,NaN,NaN,1.0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,...,0,0,1,1,7.0,0.0,7.0,0.0,0.0,1.0

In [88]:
grid_df = grid_df[MAIN_INDEX]

# Merge calendar partly
icols = ['date',
         'd',
         #category
         'event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI', 
         'is_first_half_month', 
         'event_bef_weekend', 
         'event_after_weekend',
         'NBA',
         
         
         # numerical
        'event_attention_after',
         'event_attention_bef',
         'event_attention_sum',
         


        ]
grid_df = grid_df.merge(calendar_df[icols], on=['d'], how='left')

# Minify data
# 'snap_' columns we can convert to bool or int8
icols = ['event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI', 
         'is_first_half_month', 
         'event_bef_weekend', 
         'event_after_weekend',
         'NBA']
for col in icols:
    grid_df[col] = grid_df[col].astype('category')

grid_df['event_attention_after'] = grid_df['event_attention_after'].astype(np.float16) #v2
grid_df['event_attention_bef'] = grid_df['event_attention_bef'].astype(np.float16) #v2 
grid_df['event_attention_sum'] = grid_df['event_attention_sum'].astype(np.float16) #v2 
    
    
    
# Convert to DateTime
grid_df['date'] = pd.to_datetime(grid_df['date'])

# Make some features from date
grid_df['tm_d'] = grid_df['date'].dt.day.astype(np.int8) #day of month
grid_df['tm_w'] = grid_df['date'].dt.week.astype(np.int8) # week of year
grid_df['tm_m'] = grid_df['date'].dt.month.astype(np.int8) # month of year
grid_df['tm_q'] = grid_df['date'].dt.quarter.astype(np.int8) # quarter of year
grid_df['tm_y'] = grid_df['date'].dt.year # year
grid_df['tm_y'] = (grid_df['tm_y'] - grid_df['tm_y'].min()).astype(np.int8) # minus min(year)
grid_df['tm_wm'] = grid_df['tm_d'].apply(lambda x: ceil(x/7)).astype(np.int8) # week of month

grid_df['tm_dw'] = grid_df['date'].dt.dayofweek.astype(np.int8) # day of week: monday start from 0, so saturday. is 5
grid_df['tm_w_end'] = (grid_df['tm_dw']>=5).astype(np.int8) # weekend and weekday

# Remove date
del grid_df['date']

In [89]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46706436 entries, 0 to 46706435
Data columns (total 24 columns):
id                       category
d                        object
event_name_1             category
event_type_1             category
event_name_2             category
event_type_2             category
snap_CA                  category
snap_TX                  category
snap_WI                  category
is_first_half_month      category
event_bef_weekend        category
event_after_weekend      category
NBA                      category
event_attention_after    float16
event_attention_bef      float16
event_attention_sum      float16
tm_d                     int8
tm_w                     int8
tm_m                     int8
tm_q                     int8
tm_y                     int8
tm_wm                    int8
tm_dw                    int8
tm_w_end                 int8
dtypes: category(12), float16(3), int8(8), object(1)
memory usage: 1.9+ GB

In [90]:
grid_df.head()

,id,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,is_first_half_month,...,event_attention_bef,event_attention_sum,tm_d,tm_w,tm_m,tm_q,tm_y,tm_wm,tm_dw,tm_w_end
0,HOBBIES_1_008_CA_1_validation,d_1,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,29,4,1,1,0,5,5,1
1,HOBBIES_1_009_CA_1_validation,d_1,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,29,4,1,1,0,5,5,1
2,HOBBIES_1_010_CA_1_validation,d_1,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,29,4,1,1,0,5,5,1
3,HOBBIES_1_012_CA_1_validation,d_1,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,29,4,1,1,0,5,5,1
4,HOBBIES_1_015_CA_1_validation,d_1,NaN,NaN,NaN,NaN,0,0,0,1,...,NaN,NaN,29,4,1,1,0,5,5,1

In [91]:
print('Save part 3')

# Safe part 3
grid_df.to_pickle('grid_part_3.pkl')
print('Size:', grid_df.shape)

# We don't need calendar_df anymore
del calendar_df
del grid_df

Save part 3
Size: (46706436, 24)

In [92]:
## Part 1
# Convert 'd' to int
grid_df = pd.read_pickle('grid_part_1.pkl')
grid_df['d'] = grid_df['d'].apply(lambda x: x[2:]).astype(np.int16)

# Remove 'wm_yr_wk'
del grid_df['wm_yr_wk']
print(grid_df.info())
grid_df.to_pickle('grid_part_1.pkl')

del grid_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46706436 entries, 0 to 46706435
Data columns (total 10 columns):
id          category
item_id     category
dept_id     category
cat_id      category
store_id    category
state_id    category
cluster     int64
d           int16
sales       float64
release     int16
dtypes: category(6), float64(1), int16(2), int64(1)
memory usage: 1.2 GB
None

In [93]:
# Now we have 3 sets of features
grid_df = pd.concat([pd.read_pickle('grid_part_1.pkl'),
                     pd.read_pickle('grid_part_2.pkl').iloc[:,2:],
                     pd.read_pickle('grid_part_3.pkl').iloc[:,2:]],
                     axis=1)
                     
# Let's check again memory usage
print("{:>20}: {:>8}".format('Full Grid',sizeof_fmt(grid_df.memory_usage(index=True).sum())))
print('Size:', grid_df.shape)

           Full Grid:   3.7GiB
Size: (46706436, 48)

In [94]:
# add lag feature
grid_df = pd.read_pickle('grid_part_1.pkl')

# We need only 'id','d','sales'
# to make lags and rollings
grid_df = grid_df[['id','d','sales']]
SHIFT_DAY = 28

In [95]:
# Lags
# with 28 day shift
start_time = time.time()
print('Create lags')

LAG_DAYS = [col for col in range(SHIFT_DAY,SHIFT_DAY+15)]
grid_df = grid_df.assign(**{
        '{}_lag_{}'.format(col, l): grid_df.groupby(['id'])[col].transform(lambda x: x.shift(l))
        for l in LAG_DAYS
        for col in [TARGET]
    })

# Minify lag columns
for col in list(grid_df):
    if 'lag' in col:
        grid_df[col] = grid_df[col].astype(np.float16)

print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

# Rollings
# with 28 day shift
start_time = time.time()
print('Create rolling aggs')

for i in [7,14,28,56,168]:
    print('Rolling period:', i)
    grid_df['rolling_mean_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).mean()).astype(np.float16)
    grid_df['rolling_std_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).std()).astype(np.float16)

# Rollings
# with sliding shift
for d_shift in [1,7,14]: 
    print('Shifting period:', d_shift)
    for d_window in [7,14,28,56]:
        col_name = 'rolling_mean_tmp_'+str(d_shift)+'_'+str(d_window)
        grid_df[col_name] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(d_shift).rolling(d_window).mean()).astype(np.float16)
    
    
print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

Create lags
9.57 min: Lags
Create rolling aggs
Rolling period: 7
Rolling period: 14
Rolling period: 28
Rolling period: 56
Rolling period: 168
Shifting period: 1
Shifting period: 7
Shifting period: 14
21.46 min: Lags

In [96]:
grid_df[grid_df['id']=='HOBBIES_1_001_CA_1_validation'].iloc[:60]

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
16671998,HOBBIES_1_001_CA_1_validation,897,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16696556,HOBBIES_1_001_CA_1_validation,898,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16721114,HOBBIES_1_001_CA_1_validation,899,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16745672,HOBBIES_1_001_CA_1_validation,900,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16770230,HOBBIES_1_001_CA_1_validation,901,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16794788,HOBBIES_1_001_CA_1_validation,902,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16819346,HOBBIES_1_001_CA_1_validation,903,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16843904,HOBBIES_1_001_CA_1_validation,904,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16868567,HOBBIES_1_001_CA_1_validation,905,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16893230,HOBBIES_1_001_CA_1_validation,906,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16917893,HOBBIES_1_001_CA_1_validation,907,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16942556,HOBBIES_1_001_CA_1_validation,908,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16967219,HOBBIES_1_001_CA_1_validation,909,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16991882,HOBBIES_1_001_CA_1_validation,910,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17016545,HOBBIES_1_001_CA_1_validation,911,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17041315,HOBBIES_1_001_CA_1_validation,912,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17066085,HOBBIES_1_001_CA_1_validation,913,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17090855,HOBBIES_1_001_CA_1_validation,914,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17115625,HOBBIES_1_001_CA_1_validation,915,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17140395,HOBBIES_1_001_CA_1_validation,916,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17165165,HOBBIES_1_001_CA_1_validation,917,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17189935,HOBBIES_1_001_CA_1_validation,918,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17214750,HOBBIES_1_001_CA_1_validation,919,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17239565,HOBBIES_1_001_CA_1_validation,920,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17264380,HOBBIES_1_001_CA_1_validation,921,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17289195,HOBBIES_1_001_CA_1_validation,922,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.071411,NaN,NaN,0.142822,NaN,NaN,NaN
17314010,HOBBIES_1_001_CA_1_validation,923,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN
17338825,HOBBIES_1_001_CA_1_validation,924,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.285645,0.142822,NaN,NaN,0.000000,0.071411,NaN,NaN
17363640,HOBBIES_1_001_CA_1_validation,925,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.178589,NaN,0.285645,0.142822,NaN,NaN,0.000000,0.071411,NaN,NaN
17388483,HOBBIES_1_001_CA_1_validation,926,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.178589,NaN,0.428467,0.214233,NaN,NaN,0.000000,0.071411,NaN,NaN
17413326,HOBBIES_1_001_CA_1_validation,927,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.214233,NaN,0.571289,0.285645,NaN,NaN,0.000000,0.071411,NaN,NaN
17438169,HOBBIES_1_001_CA_1_validation,928,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.285645,NaN,0.571289,0.285645,NaN,NaN,0.000000,0.071411,NaN,NaN
17463012,HOBBIES_1_001_CA_1_validation,929,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.321533,NaN,0.571289,0.285645,NaN,NaN,0.000000,0.071411,NaN,NaN
17487855,HOBBIES_1_001_CA_1_validation,930,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.321533,NaN,0.571289,0.285645,NaN,NaN,0.000000,0.000000,NaN,NaN
17512698,HOBBIES_1_001_CA_1_validation,931,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.321533,NaN,0.285645,0.285645,0.178589,NaN,0.285645,0.142822,NaN,NaN
17537541,HOBBIES_1_001_CA_1_validation,932,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.357178,NaN,0.285645,0.285645,0.178589,NaN,0.285645,0.142822,NaN,NaN
17562474,HOBBIES_1_001_CA_1_validation,933,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.357178,NaN,0.285645,0.357178,0.214233,NaN,0.428467,0.214233,NaN,NaN
17587407,HOBBIES_1_001_CA_1_validation,934,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.357178,NaN,0.428467,0.500000,0.285645,NaN,0.571289,0.285645,NaN,NaN
17612340,HOBBIES_1_001_CA_1_validation,935,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.357178,NaN,0.571289,0.571289,0.321533,NaN,0.571289,0.285645,NaN,NaN
17637273,HOBBIES_1_001_CA_1_validation,936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.392822,NaN,0.571289,0.571289,0.321533,NaN,0.571289,0.285645,NaN,NaN
17662206,HOBBIES_1_001_CA_1_validation,937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.714355,0.643066,0.321533,NaN,0.571289,0.285645,NaN,NaN
17687139,HOBBIES_1_001_CA_1_validation,938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.856934,0.571289,0.357178,NaN,0.285645,0.285645,0.178589,NaN
17712072,HOBBIES_1_001_CA_1_validation,939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.856934,0.571289,0.357178,NaN,0.285645,0.285645,0.178589,NaN
17737060,HOBBIES_1_001_CA_1_validation,940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.714355,0.500000,0.357178,NaN,0.285645,0.357178,0.214233,NaN
17762048,HOBBIES_1_001_CA_1_validation,941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.428467,0.428467,0.357178,NaN,0.428467,0.500000,0.285645,NaN
17787036,HOBBIES_1_001_CA_1_validation,942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.428467,0.500000,0.392822,NaN,0.571289,0.571289,0.321533,NaN
17812024,HOBBIES_1_001_CA_1_validation,943,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.428467,0.500000,0.392822,NaN,0.571289,0.571289,0.321533,NaN
17837012,HOBBIES_1_001_CA_1_validation,944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.428467,NaN,0.285645,0.500000,0.392822,NaN,0.714355,0.643066,0.321533,NaN
17862000,HOBBIES_1_001_CA_1_validation,945,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.428467,NaN,0.142822,0.500000,0.392822,NaN,0.856934,0.571289,0.357178,NaN
17886988,HOBBIES_1_001_CA_1_validation,946,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.142822,0.500000,0.392822,NaN,0.856934,0.571289,0.357178,NaN
17912050,HOBBIES_1_001_CA_1_validation,947,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.392822,NaN,0.142822,0.428467,0.392822,NaN,0.714355,0.500000,0.357178,NaN
17937112,HOBBIES_1_001_CA_1_validation,948,2.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,...,0.357178,NaN,0.142822,0.285645,0.392822,NaN,0.428467,0.428467,0.357178,NaN
17962174,HOBBIES_1_001_CA_1_validation,949,1.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,...,0.392822,NaN,0.000000,0.214233,0.392822,NaN,0.428467,0.500000,0.392822,NaN
17987236,HOBBIES_1_001_CA_1_validation,950,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.428467,NaN,0.142822,0.285645,0.428467,NaN,0.428467,0.500000,0.392822,NaN
18012298,HOBBIES_1_001_CA_1_validation,951,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,...,0.428467,NaN,0.142822,0.214233,0.428467,NaN,0.285645,0.500000,0.392822,NaN
18037360,HOBBIES_1_001_CA_1_validation,952,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.428467,NaN,0.285645,0.214233,0.392822,NaN,0.142822,0.500000,0.392822,NaN
18062422,HOBBIES_1_001_CA_1_validation,953,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.428467,0.303467,0.285645,0.214233,0.392822,NaN,0.142822,0.500000,0.392822,NaN
18087557,HOBBIES_1_001_CA_1_validation,954,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.500000,0.339355,0.285645,0.214233,0.357178,NaN,0.142822,0.428467,0.392822,NaN
18112692,HOBBIES_1_001_CA_1_validation,955,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.464355,0.339355,0.571289,0.357178,0.392822,NaN,0.142822,0.285645,0.392822,NaN
18137827,HOBBIES_1_001_CA_1_validation,956,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.392822,0.339355,0.714355,0.357178,0.428467,NaN,0.000000,0.214233,0.392822,NaN

In [97]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46706436 entries, 0 to 46706435
Data columns (total 40 columns):
id                        category
d                         int16
sales                     float64
sales_lag_28              float16
sales_lag_29              float16
sales_lag_30              float16
sales_lag_31              float16
sales_lag_32              float16
sales_lag_33              float16
sales_lag_34              float16
sales_lag_35              float16
sales_lag_36              float16
sales_lag_37              float16
sales_lag_38              float16
sales_lag_39              float16
sales_lag_40              float16
sales_lag_41              float16
sales_lag_42              float16
rolling_mean_7            float16
rolling_std_7             float16
rolling_mean_14           float16
rolling_std_14            float16
rolling_mean_28           float16
rolling_std_28            float16
rolling_mean_56           float16
rolling_std_56            float16
rolling_mean_168          float16
rolling_std_168           float16
rolling_mean_tmp_1_7      float16
rolling_mean_tmp_1_14     float16
rolling_mean_tmp_1_28     float16
rolling_mean_tmp_1_56     float16
rolling_mean_tmp_7_7      float16
rolling_mean_tmp_7_14     float16
rolling_mean_tmp_7_28     float16
rolling_mean_tmp_7_56     float16
rolling_mean_tmp_14_7     float16
rolling_mean_tmp_14_14    float16
rolling_mean_tmp_14_28    float16
rolling_mean_tmp_14_56    float16
dtypes: category(1), float16(37), float64(1), int16(1)
memory usage: 3.7 GB

In [98]:
print('Save lags and rollings')
grid_df.to_pickle('lags_df_'+str(SHIFT_DAY)+'.pkl')

Save lags and rollings

In [99]:
# group aggregation
grid_df = pd.read_pickle('grid_part_1.pkl')
grid_df[TARGET][grid_df['d']>(1913-28)] = np.nan # private test dataset 需要改这块

# ### V2 ##### 
# grid_df["date"]=[datetime.timedelta(days=x-1)+datetime.datetime(2011,1,29) for x in grid_df["d"]]
# grid_df['month'] = grid_df['date'].dt.month.astype(np.int8) # month of year
# #############


base_cols = list(grid_df)

print(base_cols)




icols =  [
            ['state_id'],
            ['store_id'],
            ['cat_id'],
            ['dept_id'],
            ['state_id', 'cat_id'],
            ['state_id', 'dept_id'],
            ['store_id', 'cat_id'],
            ['store_id', 'dept_id'],
            ['item_id'],
            ['item_id', 'state_id'],
            ['item_id', 'store_id'],
    
### V2 ##### 
#             ['month', 'item_id'],
########   
    
            ]

for col in icols:
    print('Encoding', col)
    col_name = '_'+'_'.join(col)+'_'
    grid_df['enc'+col_name+'mean'] = grid_df.groupby(col)[TARGET].transform('mean').astype(np.float16)
    grid_df['enc'+col_name+'std'] = grid_df.groupby(col)[TARGET].transform('std').astype(np.float16)

    
keep_cols = [col for col in list(grid_df) if col not in base_cols]
grid_df = grid_df[['id','d']+keep_cols]

['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'cluster', 'd', 'sales', 'release']
Encoding ['state_id']
Encoding ['store_id']
Encoding ['cat_id']
Encoding ['dept_id']
Encoding ['state_id', 'cat_id']
Encoding ['state_id', 'dept_id']
Encoding ['store_id', 'cat_id']
Encoding ['store_id', 'dept_id']
Encoding ['item_id']
Encoding ['item_id', 'state_id']
Encoding ['item_id', 'store_id']

In [100]:
grid_df.head()

,id,d,enc_state_id_mean,enc_state_id_std,enc_store_id_mean,enc_store_id_std,enc_cat_id_mean,enc_cat_id_std,enc_dept_id_mean,enc_dept_id_std,...,enc_store_id_cat_id_mean,enc_store_id_cat_id_std,enc_store_id_dept_id_mean,enc_store_id_dept_id_std,enc_item_id_mean,enc_item_id_std,enc_item_id_state_id_mean,enc_item_id_state_id_std,enc_item_id_store_id_mean,enc_item_id_store_id_std
0,HOBBIES_1_008_CA_1_validation,1,1.579102,4.613281,1.642578,4.484375,0.709961,2.259766,0.866699,2.544922,...,1.006836,3.130859,1.262695,3.548828,4.695312,7.183594,6.589844,8.796875,7.214844,9.101562
1,HOBBIES_1_009_CA_1_validation,1,1.579102,4.613281,1.642578,4.484375,0.709961,2.259766,0.866699,2.544922,...,1.006836,3.130859,1.262695,3.548828,0.850098,1.754883,1.133789,2.101562,1.190430,2.019531
2,HOBBIES_1_010_CA_1_validation,1,1.579102,4.613281,1.642578,4.484375,0.709961,2.259766,0.866699,2.544922,...,1.006836,3.130859,1.262695,3.548828,0.611328,0.863281,0.562012,0.827637,0.719727,0.922852
3,HOBBIES_1_012_CA_1_validation,1,1.579102,4.613281,1.642578,4.484375,0.709961,2.259766,0.866699,2.544922,...,1.006836,3.130859,1.262695,3.548828,0.384766,0.692871,0.427490,0.728027,0.397461,0.652344
4,HOBBIES_1_015_CA_1_validation,1,1.579102,4.613281,1.642578,4.484375,0.709961,2.259766,0.866699,2.544922,...,1.006836,3.130859,1.262695,3.548828,4.441406,6.703125,6.960938,8.382812,6.113281,7.390625

In [101]:
print('Save Mean/Std encoding')
grid_df.to_pickle('mean_encoding_df.pkl')

Save Mean/Std encoding

In [1]:
# 从这里跑生成新的lag数据
#first lag and rolling, second delete data

In [44]:
train_df = pd.read_csv('sales_train_validation.csv')

In [45]:
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [46]:
TARGET = 'sales'         # Our main target
END_TRAIN = 1913         # Last day in train set
MAIN_INDEX = ['id','d']

In [47]:
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

# If we look on train_df we see that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in ['id','item_id','dept_id','cat_id','store_id','state_id']:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Create Grid
Train rows: 30490 58327370
    Original grid_df:   3.5GiB
     Reduced grid_df:   1.3GiB

In [48]:
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0

In [49]:
grid_df.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales
59181085,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1941,NaN
59181086,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1941,NaN
59181087,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1941,NaN
59181088,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1941,NaN
59181089,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1941,NaN

In [50]:
grid_df.shape

(59181090, 8)

In [51]:
# We need only 'id','d','sales'
# to make lags and rollings
grid_df = grid_df[['id','d','sales']]
SHIFT_DAY = 28

In [52]:
# Lags
# with 28 day shift
start_time = time.time()
print('Create lags')

LAG_DAYS = [col for col in range(SHIFT_DAY,SHIFT_DAY+15)]
grid_df = grid_df.assign(**{
        '{}_lag_{}'.format(col, l): grid_df.groupby(['id'])[col].transform(lambda x: x.shift(l))
        for l in LAG_DAYS
        for col in [TARGET]
    })

# Minify lag columns
for col in list(grid_df):
    if 'lag' in col:
        grid_df[col] = grid_df[col].astype(np.float16)

print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

# Rollings
# with 28 day shift
start_time = time.time()
print('Create rolling aggs')

for i in [7,14,28,56,168]:
    print('Rolling period:', i)
    grid_df['rolling_mean_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).mean()).astype(np.float16)
    grid_df['rolling_std_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).std()).astype(np.float16)

# Rollings
# with sliding shift
for d_shift in [1,7,14]: 
    print('Shifting period:', d_shift)
    for d_window in [7,14,28,56]:
        col_name = 'rolling_mean_tmp_'+str(d_shift)+'_'+str(d_window)
        grid_df[col_name] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(d_shift).rolling(d_window).mean()).astype(np.float16)
    
    
print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

Create lags
11.50 min: Lags
Create rolling aggs
Rolling period: 7
Rolling period: 14
Rolling period: 28
Rolling period: 56
Rolling period: 168
Shifting period: 1
Shifting period: 7
Shifting period: 14
34.73 min: Lags

In [53]:
grid_df.shape

(59181090, 40)

In [54]:
grid_df[grid_df['id']=='HOBBIES_1_001_CA_1_validation'].iloc[:60]

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
0,HOBBIES_1_001_CA_1_validation,d_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30490,HOBBIES_1_001_CA_1_validation,d_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60980,HOBBIES_1_001_CA_1_validation,d_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91470,HOBBIES_1_001_CA_1_validation,d_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121960,HOBBIES_1_001_CA_1_validation,d_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152450,HOBBIES_1_001_CA_1_validation,d_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182940,HOBBIES_1_001_CA_1_validation,d_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213430,HOBBIES_1_001_CA_1_validation,d_8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243920,HOBBIES_1_001_CA_1_validation,d_9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274410,HOBBIES_1_001_CA_1_validation,d_10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304900,HOBBIES_1_001_CA_1_validation,d_11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335390,HOBBIES_1_001_CA_1_validation,d_12,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365880,HOBBIES_1_001_CA_1_validation,d_13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396370,HOBBIES_1_001_CA_1_validation,d_14,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426860,HOBBIES_1_001_CA_1_validation,d_15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457350,HOBBIES_1_001_CA_1_validation,d_16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487840,HOBBIES_1_001_CA_1_validation,d_17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518330,HOBBIES_1_001_CA_1_validation,d_18,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548820,HOBBIES_1_001_CA_1_validation,d_19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579310,HOBBIES_1_001_CA_1_validation,d_20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609800,HOBBIES_1_001_CA_1_validation,d_21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
640290,HOBBIES_1_001_CA_1_validation,d_22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
670780,HOBBIES_1_001_CA_1_validation,d_23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
701270,HOBBIES_1_001_CA_1_validation,d_24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
731760,HOBBIES_1_001_CA_1_validation,d_25,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
762250,HOBBIES_1_001_CA_1_validation,d_26,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
792740,HOBBIES_1_001_CA_1_validation,d_27,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
823230,HOBBIES_1_001_CA_1_validation,d_28,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
853720,HOBBIES_1_001_CA_1_validation,d_29,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
884210,HOBBIES_1_001_CA_1_validation,d_30,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
914700,HOBBIES_1_001_CA_1_validation,d_31,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
945190,HOBBIES_1_001_CA_1_validation,d_32,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
975680,HOBBIES_1_001_CA_1_validation,d_33,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1006170,HOBBIES_1_001_CA_1_validation,d_34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1036660,HOBBIES_1_001_CA_1_validation,d_35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1067150,HOBBIES_1_001_CA_1_validation,d_36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1097640,HOBBIES_1_001_CA_1_validation,d_37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1128130,HOBBIES_1_001_CA_1_validation,d_38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1158620,HOBBIES_1_001_CA_1_validation,d_39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1189110,HOBBIES_1_001_CA_1_validation,d_40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1219600,HOBBIES_1_001_CA_1_validation,d_41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1250090,HOBBIES_1_001_CA_1_validation,d_42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1280580,HOBBIES_1_001_CA_1_validation,d_43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1311070,HOBBIES_1_001_CA_1_validation,d_44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1341560,HOBBIES_1_001_CA_1_validation,d_45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1372050,HOBBIES_1_001_CA_1_validation,d_46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1402540,HOBBIES_1_001_CA_1_validation,d_47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1433030,HOBBIES_1_001_CA_1_validation,d_48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1463520,HOBBIES_1_001_CA_1_validation,d_49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1494010,HOBBIES_1_001_CA_1_validation,d_50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1524500,HOBBIES_1_001_CA_1_validation,d_51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1554990,HOBBIES_1_001_CA_1_validation,d_52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1585480,HOBBIES_1_001_CA_1_validation,d_53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1615970,HOBBIES_1_001_CA_1_validation,d_54,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1646460,HOBBIES_1_001_CA_1_validation,d_55,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1676950,HOBBIES_1_001_CA_1_validation,d_56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1707440,HOBBIES_1_001_CA_1_validation,d_57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1737930,HOBBIES_1_001_CA_1_validation,d_58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1768420,HOBBIES_1_001_CA_1_validation,d_59,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
1798910,HOBBIES_1_001_CA_1_validation,d_60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN

In [55]:
grid_df['d']=grid_df['d'].apply(lambda x:int(x.split('_')[1]))

In [56]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59181090 entries, 0 to 59181089
Data columns (total 40 columns):
id                        category
d                         int64
sales                     float64
sales_lag_28              float16
sales_lag_29              float16
sales_lag_30              float16
sales_lag_31              float16
sales_lag_32              float16
sales_lag_33              float16
sales_lag_34              float16
sales_lag_35              float16
sales_lag_36              float16
sales_lag_37              float16
sales_lag_38              float16
sales_lag_39              float16
sales_lag_40              float16
sales_lag_41              float16
sales_lag_42              float16
rolling_mean_7            float16
rolling_std_7             float16
rolling_mean_14           float16
rolling_std_14            float16
rolling_mean_28           float16
rolling_std_28            float16
rolling_mean_56           float16
rolling_std_56            float16
rolling_mean_168          float16
rolling_std_168           float16
rolling_mean_tmp_1_7      float16
rolling_mean_tmp_1_14     float16
rolling_mean_tmp_1_28     float16
rolling_mean_tmp_1_56     float16
rolling_mean_tmp_7_7      float16
rolling_mean_tmp_7_14     float16
rolling_mean_tmp_7_28     float16
rolling_mean_tmp_7_56     float16
rolling_mean_tmp_14_7     float16
rolling_mean_tmp_14_14    float16
rolling_mean_tmp_14_28    float16
rolling_mean_tmp_14_56    float16
dtypes: category(1), float16(37), float64(1), int64(1)
memory usage: 5.1 GB

In [57]:
grid_df_1 = pd.read_pickle('grid_part_1.pkl')

In [58]:
grid_df_1=grid_df_1[['id','d']]

In [59]:
grid_df_1.shape

(46706436, 2)

In [60]:
grid_df_1.head()

                              id  d
0  HOBBIES_1_008_CA_1_validation  1
1  HOBBIES_1_009_CA_1_validation  1
2  HOBBIES_1_010_CA_1_validation  1
3  HOBBIES_1_012_CA_1_validation  1
4  HOBBIES_1_015_CA_1_validation  1

In [61]:
grid_df_1.tail()

                                   id     d
46706431  FOODS_3_823_WI_3_validation  1941
46706432  FOODS_3_824_WI_3_validation  1941
46706433  FOODS_3_825_WI_3_validation  1941
46706434  FOODS_3_826_WI_3_validation  1941
46706435  FOODS_3_827_WI_3_validation  1941

In [62]:
grid_df.head()

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
0,HOBBIES_1_001_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HOBBIES_1_002_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HOBBIES_1_003_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HOBBIES_1_004_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HOBBIES_1_005_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
grid_df.tail()

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
59181085,FOODS_3_823_WI_3_validation,1941,NaN,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59181086,FOODS_3_824_WI_3_validation,1941,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59181087,FOODS_3_825_WI_3_validation,1941,NaN,0.0,1.0,0.0,0.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59181088,FOODS_3_826_WI_3_validation,1941,NaN,3.0,1.0,3.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59181089,FOODS_3_827_WI_3_validation,1941,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
grid_df=grid_df_1.merge(grid_df, on=['id','d'], how='left' )

In [65]:
grid_df.shape

(46706436, 40)

In [66]:
grid_df.head()

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
0,HOBBIES_1_008_CA_1_validation,1,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HOBBIES_1_009_CA_1_validation,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HOBBIES_1_010_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HOBBIES_1_012_CA_1_validation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HOBBIES_1_015_CA_1_validation,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
grid_df.tail()

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
46706431,FOODS_3_823_WI_3_validation,1941,NaN,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46706432,FOODS_3_824_WI_3_validation,1941,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46706433,FOODS_3_825_WI_3_validation,1941,NaN,0.0,1.0,0.0,0.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46706434,FOODS_3_826_WI_3_validation,1941,NaN,3.0,1.0,3.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46706435,FOODS_3_827_WI_3_validation,1941,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
grid_df[grid_df['id']=='HOBBIES_1_001_CA_1_validation'].iloc[:60]

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_28,rolling_mean_tmp_1_56,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_28,rolling_mean_tmp_7_56,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_28,rolling_mean_tmp_14_56
16671998,HOBBIES_1_001_CA_1_validation,897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16696556,HOBBIES_1_001_CA_1_validation,898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16721114,HOBBIES_1_001_CA_1_validation,899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16745672,HOBBIES_1_001_CA_1_validation,900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16770230,HOBBIES_1_001_CA_1_validation,901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16794788,HOBBIES_1_001_CA_1_validation,902,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16819346,HOBBIES_1_001_CA_1_validation,903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16843904,HOBBIES_1_001_CA_1_validation,904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16868567,HOBBIES_1_001_CA_1_validation,905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16893230,HOBBIES_1_001_CA_1_validation,906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16917893,HOBBIES_1_001_CA_1_validation,907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16942556,HOBBIES_1_001_CA_1_validation,908,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16967219,HOBBIES_1_001_CA_1_validation,909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
16991882,HOBBIES_1_001_CA_1_validation,910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17016545,HOBBIES_1_001_CA_1_validation,911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17041315,HOBBIES_1_001_CA_1_validation,912,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17066085,HOBBIES_1_001_CA_1_validation,913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17090855,HOBBIES_1_001_CA_1_validation,914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17115625,HOBBIES_1_001_CA_1_validation,915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853,0.000000,0.000000,0.000000,0.000000
17140395,HOBBIES_1_001_CA_1_validation,916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17165165,HOBBIES_1_001_CA_1_validation,917,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035706,0.017853,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17189935,HOBBIES_1_001_CA_1_validation,918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.107117,0.053558,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17214750,HOBBIES_1_001_CA_1_validation,919,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.107117,0.053558,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17239565,HOBBIES_1_001_CA_1_validation,920,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142822,0.071411,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17264380,HOBBIES_1_001_CA_1_validation,921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17289195,HOBBIES_1_001_CA_1_validation,922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.000000,0.071411,0.035706,0.017853,0.142822,0.071411,0.035706,0.017853
17314010,HOBBIES_1_001_CA_1_validation,923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.000000,0.000000,0.035706,0.017853,0.000000,0.071411,0.035706,0.017853
17338825,HOBBIES_1_001_CA_1_validation,924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.285645,0.142822,0.107117,0.053558,0.000000,0.071411,0.035706,0.017853
17363640,HOBBIES_1_001_CA_1_validation,925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.285645,0.142822,0.107117,0.053558,0.000000,0.071411,0.035706,0.017853
17388483,HOBBIES_1_001_CA_1_validation,926,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.178589,0.089294,0.428467,0.214233,0.142822,0.071411,0.000000,0.071411,0.035706,0.017853
17413326,HOBBIES_1_001_CA_1_validation,927,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.214233,0.107117,0.571289,0.285645,0.178589,0.089294,0.000000,0.071411,0.035706,0.017853
17438169,HOBBIES_1_001_CA_1_validation,928,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.285645,0.142822,0.571289,0.285645,0.178589,0.089294,0.000000,0.071411,0.035706,0.017853
17463012,HOBBIES_1_001_CA_1_validation,929,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.321533,0.160767,0.571289,0.285645,0.178589,0.089294,0.000000,0.071411,0.035706,0.017853
17487855,HOBBIES_1_001_CA_1_validation,930,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.321533,0.160767,0.571289,0.285645,0.178589,0.089294,0.000000,0.000000,0.035706,0.017853
17512698,HOBBIES_1_001_CA_1_validation,931,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.321533,0.178589,0.285645,0.285645,0.178589,0.089294,0.285645,0.142822,0.107117,0.053558
17537541,HOBBIES_1_001_CA_1_validation,932,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.357178,0.196411,0.285645,0.285645,0.178589,0.089294,0.285645,0.142822,0.107117,0.053558
17562474,HOBBIES_1_001_CA_1_validation,933,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.357178,0.196411,0.285645,0.357178,0.214233,0.107117,0.428467,0.214233,0.142822,0.071411
17587407,HOBBIES_1_001_CA_1_validation,934,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.357178,0.196411,0.428467,0.500000,0.285645,0.142822,0.571289,0.285645,0.178589,0.089294
17612340,HOBBIES_1_001_CA_1_validation,935,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.357178,0.196411,0.571289,0.571289,0.321533,0.160767,0.571289,0.285645,0.178589,0.089294
17637273,HOBBIES_1_001_CA_1_validation,936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.392822,0.214233,0.571289,0.571289,0.321533,0.160767,0.571289,0.285645,0.178589,0.089294
17662206,HOBBIES_1_001_CA_1_validation,937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.714355,0.643066,0.321533,0.178589,0.571289,0.285645,0.178589,0.089294
17687139,HOBBIES_1_001_CA_1_validation,938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.856934,0.571289,0.357178,0.196411,0.285645,0.285645,0.178589,0.089294
17712072,HOBBIES_1_001_CA_1_validation,939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.856934,0.571289,0.357178,0.196411,0.285645,0.285645,0.178589,0.089294
17737060,HOBBIES_1_001_CA_1_validation,940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.714355,0.500000,0.357178,0.196411,0.285645,0.357178,0.214233,0.107117
17762048,HOBBIES_1_001_CA_1_validation,941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.428467,0.428467,0.357178,0.196411,0.428467,0.500000,0.285645,0.142822
17787036,HOBBIES_1_001_CA_1_validation,942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.428467,0.500000,0.392822,0.214233,0.571289,0.571289,0.321533,0.160767
17812024,HOBBIES_1_001_CA_1_validation,943,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.214233,0.428467,0.500000,0.392822,0.214233,0.571289,0.571289,0.321533,0.160767
17837012,HOBBIES_1_001_CA_1_validation,944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.428467,0.232178,0.285645,0.500000,0.392822,0.214233,0.714355,0.643066,0.321533,0.178589
17862000,HOBBIES_1_001_CA_1_validation,945,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.428467,0.232178,0.142822,0.500000,0.392822,0.214233,0.856934,0.571289,0.357178,0.196411
17886988,HOBBIES_1_001_CA_1_validation,946,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.392822,0.250000,0.142822,0.500000,0.392822,0.214233,0.856934,0.571289,0.357178,0.196411
17912050,HOBBIES_1_001_CA_1_validation,947,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.392822,0.250000,0.142822,0.428467,0.392822,0.214233,0.714355,0.500000,0.357178,0.196411
17937112,HOBBIES_1_001_CA_1_validation,948,2.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,...,0.357178,0.250000,0.142822,0.285645,0.392822,0.214233,0.428467,0.428467,0.357178,0.196411
17962174,HOBBIES_1_001_CA_1_validation,949,1.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,...,0.392822,0.285645,0.000000,0.214233,0.392822,0.214233,0.428467,0.500000,0.392822,0.214233
17987236,HOBBIES_1_001_CA_1_validation,950,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.428467,0.303467,0.142822,0.285645,0.428467,0.232178,0.428467,0.500000,0.392822,0.214233
18012298,HOBBIES_1_001_CA_1_validation,951,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,...,0.428467,0.303467,0.142822,0.214233,0.428467,0.232178,0.285645,0.500000,0.392822,0.214233
18037360,HOBBIES_1_001_CA_1_validation,952,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.428467,0.303467,0.285645,0.214233,0.392822,0.250000,0.142822,0.500000,0.392822,0.214233
18062422,HOBBIES_1_001_CA_1_validation,953,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.428467,0.303467,0.285645,0.214233,0.392822,0.250000,0.142822,0.500000,0.392822,0.214233
18087557,HOBBIES_1_001_CA_1_validation,954,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.500000,0.339355,0.285645,0.214233,0.357178,0.250000,0.142822,0.428467,0.392822,0.214233
18112692,HOBBIES_1_001_CA_1_validation,955,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.464355,0.339355,0.571289,0.357178,0.392822,0.285645,0.142822,0.285645,0.392822,0.214233
18137827,HOBBIES_1_001_CA_1_validation,956,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.392822,0.339355,0.714355,0.357178,0.428467,0.303467,0.000000,0.214233,0.392822,0.214233

In [69]:
print('Save lags and rollings')
grid_df.to_pickle('lags_df_'+str(SHIFT_DAY)+'_v2.pkl')

Save lags and rollings