In [2]:
import pandas as pd

In [3]:
model1=pd.read_csv('scaling_model1.csv')
model2=pd.read_csv('scaling_model2.csv')
model3=pd.read_csv('scaling_model3.csv')
model4=pd.read_csv('scaling_model4.csv')

In [4]:
model1.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [5]:
model1.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.501285,0.441451,0.453954,0.499908,0.525509,0.504780,0.607582,0.525907,0.534854,...,0.613746,0.732856,0.815270,0.623706,0.560943,0.594622,0.491588,0.502761,0.525226,0.648685
60976,FOODS_3_824_WI_3_evaluation,0.261826,0.248651,0.245181,0.222874,0.245451,0.310390,0.322155,0.251221,0.242516,...,0.257237,0.433138,0.442154,0.308950,0.368986,0.373404,0.275135,0.274516,0.324278,0.364302
60977,FOODS_3_825_WI_3_evaluation,0.659162,0.539619,0.518667,0.466092,0.570930,0.614238,0.721637,0.656965,0.542690,...,0.797826,1.240518,1.364929,1.021106,1.128044,1.067333,0.690011,0.676586,0.704782,0.967966
60978,FOODS_3_826_WI_3_evaluation,1.132577,1.029730,1.019176,0.953032,1.141075,1.274362,1.317409,1.314202,1.142626,...,1.021361,1.406020,1.426979,1.181712,1.280234,1.271241,1.082259,1.224864,1.231444,1.277550
60979,FOODS_3_827_WI_3_evaluation,1.983914,1.775112,1.770023,1.808228,2.008200,2.223547,2.269385,1.854557,1.585777,...,1.616134,1.883817,1.886878,1.514798,1.750936,1.590838,1.535194,1.845653,1.839801,1.859959

In [6]:
model1.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
count,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,...,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000
mean,1.299964,1.203945,1.179552,1.188361,1.409949,1.655341,1.699969,1.459480,1.368854,1.376079,...,1.497266,1.858419,1.962496,1.453103,1.346870,1.356436,1.302479,1.478166,1.744490,1.725173
std,2.984659,2.752039,2.706833,2.715585,3.304374,3.791160,3.736006,3.271801,3.141506,3.093847,...,3.461746,4.265035,4.425127,3.197763,3.073607,3.082413,2.928422,3.447976,4.012056,3.973885
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062181,0.000000,0.000000,0.000000,...,0.000000,0.049770,0.099121,0.000000,0.000000,0.000000,0.000000,0.000000,0.027549,0.070532
50%,0.484280,0.450568,0.439490,0.437577,0.562856,0.745295,0.796716,0.607301,0.537416,0.558098,...,0.607952,0.878626,0.961530,0.611759,0.533167,0.540464,0.513071,0.615078,0.799207,0.792720
75%,1.264387,1.109532,1.083251,1.083605,1.415009,1.885567,2.000000,1.519823,1.301290,1.366071,...,1.537056,2.000000,2.000000,1.524103,1.311521,1.337983,1.244939,1.505066,2.000000,2.000000
max,133.000000,117.000000,113.000000,101.523152,196.000000,153.663837,145.127606,117.421254,143.000000,107.000000,...,143.000000,160.692222,187.000000,119.235340,108.675508,108.079251,110.061160,144.454266,166.429350,148.798863

In [8]:
model2.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [9]:
model2.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.447910,0.410288,0.435384,0.502258,0.504210,0.514611,0.625530,0.532222,0.503045,...,0.558066,0.740527,0.894037,0.537693,0.549094,0.550521,0.457552,0.512809,0.529316,0.654919
60976,FOODS_3_824_WI_3_evaluation,0.288325,0.264065,0.234911,0.251829,0.236991,0.264338,0.284278,0.266665,0.232188,...,0.261918,0.389088,0.407397,0.273636,0.354071,0.332723,0.252303,0.251764,0.304472,0.321524
60977,FOODS_3_825_WI_3_evaluation,0.686911,0.487501,0.435093,0.433528,0.477902,0.580186,0.625219,0.640111,0.479588,...,0.857967,1.233560,1.332488,0.914569,1.128744,1.024473,0.681182,0.769696,0.802135,0.997408
60978,FOODS_3_826_WI_3_evaluation,1.157899,1.077533,0.980766,0.940052,1.163494,1.270242,1.265217,1.186162,1.095228,...,1.171475,1.549542,1.514961,1.244382,1.328783,1.394999,1.175473,1.226866,1.296530,1.372951
60979,FOODS_3_827_WI_3_evaluation,1.886670,1.684333,1.646254,1.770348,2.152549,2.231746,2.009391,1.846938,1.578984,...,1.733238,1.935421,1.782624,1.545675,1.678027,1.673649,1.642550,1.921347,2.024265,2.032788

In [10]:
model2.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
count,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,...,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000
mean,1.299622,1.204414,1.180772,1.189004,1.411881,1.655124,1.699781,1.459267,1.370178,1.374657,...,1.498234,1.860490,1.961446,1.450576,1.346156,1.356865,1.304205,1.479800,1.745564,1.722166
std,2.985734,2.754979,2.711699,2.717900,3.308689,3.790316,3.736104,3.275143,3.140999,3.093246,...,3.468336,4.273052,4.425558,3.198637,3.068132,3.082906,2.934614,3.452771,4.019254,3.963799
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062795,0.000000,0.000000,0.000000,...,0.000000,0.051318,0.099837,0.000000,0.000000,0.000000,0.000000,0.000000,0.028131,0.071305
50%,0.485432,0.453526,0.442152,0.439496,0.565959,0.749382,0.799224,0.611008,0.539285,0.556972,...,0.612014,0.877932,0.960533,0.605788,0.533163,0.540520,0.511009,0.615402,0.800774,0.793725
75%,1.261151,1.108025,1.086224,1.079923,1.419885,1.885197,2.000000,1.517018,1.309090,1.368118,...,1.534639,2.000000,2.000000,1.520775,1.311900,1.338840,1.245616,1.504020,2.000000,2.000000
max,133.000000,117.000000,113.000000,102.428560,196.000000,154.525578,147.476840,119.019100,143.000000,107.000000,...,143.000000,163.558845,187.000000,119.859839,109.575687,109.535649,114.230700,146.601755,168.459722,146.604225

In [11]:
model3.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [12]:
model3.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.502994,0.498345,0.419373,0.444788,0.555020,0.567369,0.652649,0.493585,0.512123,...,0.600543,0.751355,0.855521,0.582112,0.612754,0.567523,0.478615,0.523902,0.592237,0.614658
60976,FOODS_3_824_WI_3_evaluation,0.290350,0.296965,0.265807,0.258709,0.261291,0.323549,0.391024,0.277187,0.315013,...,0.308019,0.472592,0.496950,0.355754,0.383251,0.393335,0.338792,0.319868,0.368173,0.439551
60977,FOODS_3_825_WI_3_evaluation,0.670223,0.530063,0.502035,0.432171,0.507270,0.600266,0.659112,0.709735,0.510975,...,0.827585,1.240528,1.369278,0.950195,1.034824,0.988889,0.666889,0.725947,0.756110,0.866015
60978,FOODS_3_826_WI_3_evaluation,0.959349,1.089464,0.920924,0.973131,1.057325,1.205529,1.126409,1.245759,1.070541,...,1.031615,1.388608,1.433828,1.154460,1.285401,1.327883,1.148370,1.147581,1.205018,1.154119
60979,FOODS_3_827_WI_3_evaluation,1.887284,1.724988,1.714910,1.689012,2.094473,2.113791,1.911832,1.719376,1.457794,...,1.600495,1.885145,1.903074,1.608934,1.668094,1.789802,1.564792,1.694608,1.755475,1.737768

In [13]:
model3.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
count,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,...,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000
mean,1.300229,1.206027,1.179619,1.189992,1.412071,1.654172,1.697480,1.463333,1.370524,1.372525,...,1.496708,1.854936,1.956482,1.446439,1.339471,1.351759,1.303136,1.476529,1.742405,1.722675
std,2.989820,2.764189,2.708446,2.719991,3.323926,3.788171,3.736332,3.299753,3.146971,3.093189,...,3.481377,4.250338,4.412648,3.193278,3.053602,3.074449,2.937354,3.447139,4.001368,3.970807
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.060290,0.000000,0.000000,0.000000,...,0.000000,0.049966,0.098989,0.000000,0.000000,0.000000,0.000000,0.000000,0.026488,0.070554
50%,0.484528,0.453250,0.441192,0.439455,0.564700,0.747968,0.797450,0.609455,0.538335,0.556985,...,0.610821,0.877072,0.959221,0.607811,0.531537,0.536700,0.514493,0.618151,0.799685,0.796284
75%,1.262075,1.104723,1.080582,1.076965,1.414152,1.877386,2.000000,1.512414,1.297661,1.358055,...,1.526593,2.000000,2.000000,1.507000,1.301055,1.329275,1.241105,1.500971,2.000000,2.000000
max,133.000000,117.000000,113.000000,101.186498,196.000000,158.506649,151.892356,123.785294,143.000000,107.000000,...,145.237249,160.593296,187.000000,116.792339,107.509490,106.923521,109.991020,142.596790,168.187877,148.704069

In [14]:
model4.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [15]:
model4.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.501568,0.462974,0.413488,0.440292,0.532772,0.533712,0.613954,0.530107,0.486225,...,0.525769,0.770784,0.874851,0.546898,0.576559,0.612746,0.490726,0.543850,0.546784,0.615529
60976,FOODS_3_824_WI_3_evaluation,0.290184,0.258928,0.250991,0.245823,0.253641,0.305714,0.332940,0.316555,0.233357,...,0.280860,0.398995,0.458897,0.325090,0.363435,0.396657,0.296009,0.255780,0.301777,0.356597
60977,FOODS_3_825_WI_3_evaluation,0.617818,0.477454,0.489002,0.470561,0.524021,0.602080,0.648060,0.651941,0.553387,...,0.882799,1.321741,1.451752,1.071252,1.078244,0.992008,0.783202,0.705695,0.799984,0.923309
60978,FOODS_3_826_WI_3_evaluation,1.059271,1.051529,1.024512,1.011955,1.175366,1.282272,1.177666,1.274693,0.991391,...,1.030463,1.406952,1.413593,1.221252,1.380209,1.369550,1.202235,1.181040,1.279306,1.189431
60979,FOODS_3_827_WI_3_evaluation,1.972232,1.705256,1.602808,1.622776,2.035868,2.071049,1.893750,1.968966,1.627679,...,1.659921,1.987574,1.724260,1.460320,1.749592,1.575730,1.481035,1.838677,1.924354,1.830720

In [16]:
model4.describe()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
count,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,...,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000,60980.000000
mean,1.299196,1.205335,1.178646,1.189163,1.411147,1.653590,1.698305,1.457591,1.369727,1.375175,...,1.499455,1.860760,1.963608,1.451424,1.347627,1.356392,1.301675,1.477284,1.743931,1.721364
std,2.986062,2.756672,2.704883,2.724925,3.312386,3.794680,3.739511,3.275844,3.145053,3.098674,...,3.470968,4.276868,4.439564,3.199534,3.073336,3.085580,2.938514,3.450528,4.027790,3.971987
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.061701,0.000000,0.000000,0.000000,...,0.000000,0.052436,0.099792,0.000000,0.000000,0.000000,0.000000,0.000000,0.028770,0.071180
50%,0.483532,0.451978,0.438171,0.436252,0.565326,0.743370,0.795747,0.606366,0.539410,0.554967,...,0.611279,0.878407,0.958426,0.606642,0.535199,0.541005,0.512703,0.612591,0.795108,0.787218
75%,1.262282,1.108036,1.079624,1.080387,1.415975,1.877334,2.000000,1.506421,1.308470,1.364442,...,1.547725,2.000000,2.000000,1.525161,1.311923,1.343599,1.238845,1.504754,2.000000,2.000000
max,133.000000,117.000000,113.000000,99.815546,196.000000,148.408534,139.704147,114.733052,143.000000,107.000000,...,143.000000,164.921340,187.000000,116.474750,106.661077,103.771587,106.463333,136.775834,163.629078,144.324690

In [17]:
ens=pd.DataFrame()
ens['id']=model1['id']
for item in model1:
    if item!='id':
        ens[item]=(model1[item]*(1/4))+(model2[item]*(1/4))+(model3[item]*(1/4))+(model4[item]*(1/4))

In [18]:
ens.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.0,0.0,0.0,2.0,0.0,3.0,5.0,0.0,0.0,...,2.0,4.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1.0
1,HOBBIES_1_002_CA_1_validation,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_validation,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0
3,HOBBIES_1_004_CA_1_validation,0.0,0.0,1.0,2.0,4.0,1.0,6.0,4.0,0.0,...,1.0,1.0,0.0,4.0,0.0,1.0,3.0,0.0,2.0,6.0
4,HOBBIES_1_005_CA_1_validation,1.0,0.0,2.0,3.0,1.0,0.0,3.0,2.0,3.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0

In [19]:
ens.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0.488440,0.453264,0.430550,0.471811,0.529378,0.530118,0.624929,0.520455,0.509062,...,0.574531,0.748881,0.859920,0.572602,0.574837,0.581353,0.479620,0.520830,0.548391,0.633448
60976,FOODS_3_824_WI_3_evaluation,0.282671,0.267152,0.249222,0.244809,0.249343,0.300998,0.332599,0.277907,0.255768,...,0.277009,0.423453,0.451350,0.315857,0.367436,0.374030,0.290560,0.275482,0.324675,0.370494
60977,FOODS_3_825_WI_3_evaluation,0.658529,0.508659,0.486199,0.450588,0.520031,0.599193,0.663507,0.664688,0.521660,...,0.841544,1.259087,1.379612,0.989280,1.092464,1.018176,0.705321,0.719481,0.765753,0.938675
60978,FOODS_3_826_WI_3_evaluation,1.077274,1.062064,0.986344,0.969542,1.134315,1.258101,1.221675,1.255204,1.074946,...,1.063729,1.437780,1.447340,1.200451,1.318657,1.340918,1.152084,1.195088,1.253074,1.248513
60979,FOODS_3_827_WI_3_evaluation,1.932525,1.722422,1.683499,1.722591,2.072773,2.160033,2.021090,1.847459,1.562558,...,1.652447,1.922989,1.824209,1.532432,1.711662,1.657505,1.555893,1.825071,1.885974,1.865309

In [ ]:
ens.to_csv('ensemble_final_submission.csv',index)